---
---

h1, h2, h3, h4 {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a:any-link {
  color:inherit;
  text-decoration: none;
}

.main {
  width: 45%;
  margin-left: 27.5%;

  @media only screen and (max-width: 1000px) {
    width: 90%;
    margin-left: 5%;
  }
}

.pic {
  display: flex;
  justify-content: left;
  align-items: left;
  padding-top: 50px;
}

img {
  width: 125px;
  height: 125px;
  flex-shrink: 0;
}

.name {
  h1 {
    color: #2400FF;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  h2 {
    color: #757575;
    font-size: 15px;
    margin-top: 2px;
  }

  padding-top: 15px;
}

.left {
  h1 {
    font-size: 25px;
  }
  min-width: 125px;
  margin-right: 10px;
}

.right {
  h1 {
    font-size: 25px;
    margin-bottom: 0px;
  }
  h2 {
    font-size:15px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 2px;
  }
  h3 {
    color: #323232;
    font-size:15px;
    margin-top: 5px;
    margin-bottom: 0;
  }
  h4 {
    color: #323232;
    font-size:12px;
    margin-top: 2px;
    margin-bottom: 0px;
    padding-bottom: 5px;
  }

  .exp {
    padding-bottom: 10px;
  }
}

.previously {
  @media only screen and (min-width: 1000px) {
    display: flex;
    align-items: left;
  }

  .left {
    h1 {
      color: #019518;
    }
  }
}

.links {
  @media only screen and (min-width: 1000px) {
    display: flex;
    align-items: left;
  }

  .left {
    h1 {
      color: #0098C8;
    }
  }
}
